* {
  --button-underlined: #000000;
  --transition-speed: 600ms;
}

.nav {
  background-color: #5fa1d4;
  height: 6vh;
  padding: 5px;
  margin: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.nav_item {
  float: left;
  margin: 0vw 0vw 0vw 0vw;
  font-size: 1em;
  height: 40px;
  width: 15vw;
  background-color: #5fa1d4;
  border: none;
  transition: 100ms;
}

.nav_item:hover {
  cursor: pointer;
  box-shadow: 0px 2px #000000;
  transition: 100ms;
}

@media screen and (max-width: 480px) {
  .nav {
    border: 1px solid black;
    height: 9vh;
  }
  .nav_item {
    margin-left: 3vw;
    margin-bottom: 1vh;
    height: 6vw;
    width: 40vw;
    border: 1px solid black;
    font-size: 1rem;
    font-size-adjust: 0.58;
  }
}

